python-dotenv
langchain_community
langchain_openai
langchain-core
langchain-chroma
langgraph
unstructured
langchain-text-splitters
uvicorn
fastapi
itsdangerous
pypdf
mailjet_rest
bcrypt
PyJWT
python-multipart
SQLAlchemy
supabase
psycopg2-binary==2.9.10
azure-storage-blob
azure-identity